{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} TMA Warehouse {% endblock %}

{% block content %}
<h2> Welcome to the Trade and Material Assets Warehouse.</h2>
<p>
    {% if user.is_authenticated %}
        <p>What do you want to do?</p>

        {% if perms.website.view_item %}
            <a href="/items">See items</a>
        {% endif %}
        {% if perms.website.view_order %}
            <a href="{% url 'orders' %}">See Orders</a>
        {% endif %}
        {% if perms.website.view_linkedorder %}
            <a href="{% url 'linked_orders' %}">See Linked Orders</a>
        {% else %}
            <p>Contact your administrator to give you more access</p>
        {% endif %}

    {% else %}
        <a href="/login">Log in</a> to start.
    {% endif %}
</p>

{% endblock%}
