{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
<link rel="stylesheet" href="{% static 'website/static/website/style.css' %}">


{% block title %} TMA Warehouse Items {% endblock %}

{% block content %}

<h4>ITEMS LIST</h4>
<table>
    <thead>
        <th><a href="{% url 'items_ordered' 'item_name' %}">NAME</a></th>
        <th><a href="{% url 'items_ordered' 'item_group' %}">GROUP</a></th>
        <th><a href="{% url 'items_ordered' 'unit_of_measurement' %}">UNIT OF MEASUREMENT</a></th>
        <th><a href="{% url 'items_ordered' 'quantity' %}">QUANTITY</a></th>
        <th><a href="{% url 'items_ordered' 'price_without_VAT' %}">PRICE WITHOUT VAT (UAH)</a></th>
        <th><a href="{% url 'items_ordered' 'status' %}">STATUS</a></th>
        <th><a href="{% url 'items_ordered' 'storage_location' %}">STORAGE LOCATION</a></th>
        <th><a href="{% url 'items_ordered' 'contact_person' %}">CONTACT PERSON</a></th>
        <th><a href="{% url 'items_ordered' 'photo' %}">PHOTO</a></th>
    </thead>
    <tbody>
    {% for item in page_obj %}
        <tr>
            <td>
                {{ item.item_name|upper }}
            </td>
            <td>
                {{ item.item_group|upper }}
            </td>
            <td>
                {{ item.unit_of_measurement|upper }}
            </td>
            <td>
                {{ item.quantity|upper }}
            </td>
            <td>
                {{ item.price_without_VAT|upper }}
            </td>
             <td>
                {{ item.status|upper }}
            </td>
            <td>
                {{ item.storage_location|upper }}
            </td>
            <td>
                {{ item.contact_person|upper }}
            </td>
            <td>
                {{ item.photo|upper }}
            </td>
            <td>{% if perms.website.change_items %}
                    <a href="/items/{{item.item_id}}/update/">Update</a>
                {% endif %}
                {% if perms.website.change_items %}
                    <a href="/items/{{item.item_id}}/delete/">Delete</a>
                {% endif %}
            </td>
            <td>{% if perms.website.add_order %}
                    <a href="/orders/{{item.item_id}}/create">Order</a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
</table>
{% if perms.website.add_items %}
    <div>
        <h4>Add Item</h4>
        <form method="POST">
            {% csrf_token %}
            {{ create_item_form|crispy }}
            <input type="submit" name="create_item_form" value="Add">
        </form>
    </div>
{% endif %}


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock%}

