{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} TMA Warehouse Orders {% endblock %}

{% block content %}

<h4>ORDER LIST</h4>

<div class="wrap_search">
    <form id="search_order" class="search_form" method="post">
        {{ search_form|crispy }}
        {% csrf_token %}
    <button type="submit"
            name="search"
            value="search">
        <i class="fa fa-search"></i>
    </button>
    </form>
</div>

<div class="wrap_filter">
    <form id="filter_order" class="filter_form" method="post">
        {{ filter_form }}
        {% csrf_token %}
        <input type="submit" name="filter" value="Filter">
    </form>
</div>


<table>
    <thead>
        <th><a href="{% url 'orders_ordered' 'order_id' %}">NUMBER</a></th>
        <th><a href="{% url 'orders_ordered' 'employee_name' %}">EMPLOYEE NAME</a></th>
        <th><a href="{% url 'orders_ordered' 'item_id' %}">ITEM</a></th>
        <th><a href="{% url 'orders_ordered' 'unit_of_measurement' %}">UNIT OF MEASUREMENT</a></th>
        <th><a href="{% url 'orders_ordered' 'quantity' %}">QUANTITY</a></th>
        <th><a href="{% url 'orders_ordered' 'price_without_VAT' %}">PRICE WITHOUT VAT (UAH)</a></th>
        <th><a href="{% url 'orders_ordered' 'comment' %}">COMMENT</a></th>
        <th><a href="{% url 'orders_ordered' 'status' %}">STATUS</a></th>
    </thead>
    <tbody>
    {% for order in page_obj %}
        <tr>
            <td>
                {{ order.order_id }}
            </td>
            <td>
                {{ order.employee_name|upper }}
            </td>
            <td>
                {{ order.item_id|upper }}
            </td>
            <td>
                {{ order.unit_of_measurement|upper }}
            </td>
            <td>
                {{ order.quantity|upper }}
            </td>
            <td>
                {{ order.price_without_VAT|upper }}
            </td>
             <td>
                {{ order.comment|upper }}
            </td>
            <td>
                {{ order.get_status_display|upper }}
            </td>
            <td>
                <a href="/orders/{{ order.order_id }}/update/">Change status</a>
            </td>
            {% endfor %}
        </tr>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock%}
