{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} TMA Warehouse Orders {% endblock %}

{% block content %}

<h4>ORDER LIST</h4>

<div class="wrap_search">
    <form id="search_order" class="search_form" method="post">
        {{ search_form|crispy }}
        {% csrf_token %}
    <button type="submit">
        <i class="fa fa-search"></i>
    </button>
    </form>
</div>


<table>
    <thead>
        <th class="single_order_table_head">NUMBER</th>
        <th class="single_order_table_head">EMPLOYEE NAM</th>
        <th class="single_order_table_head">ITEM</th>
        <th class="single_order_table_head">UNIT OF MEASUREMENT</th>
        <th class="single_order_table_head">QUANTITY</th>
        <th class="single_order_table_head">PRICE WITHOUT VAT (UAH)</th>
        <th class="single_order_table_head">COMMENT</th>
        <th class="single_order_table_head">STATUS</th>
    </thead>
    <tbody>
    {% for order in page_obj %}
        <tr>
            <td>
                {{ order.order_id }}
            </td>
            <td>
                {{ order.employee_name|upper }}
            </td>
            <td>
                {{ order.item_id|upper }}
            </td>
            <td>
                {{ order.unit_of_measurement|upper }}
            </td>
            <td>
                {{ order.quantity|upper }}
            </td>
            <td>
                {{ order.price_without_VAT|upper }}
            </td>
             <td>
                {{ order.comment|upper }}
            </td>
            <td>
                {{ order.get_status_display|upper }}
            </td>
            <td>
                <a href="/orders/{{order.order_id}}/update/">Change status</a>
            </td>
        </tr>
    {% empty %}
    <p>Oops! We couldn't find any records matching your filter criteria.</p>
    {% endfor %}
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock%}
