body {

font-family: sans-serif;
color: darkslategrey;
background-color: whitesmoke;

}

h1 {

text-align: center;

}

a {

font-family: sans-serif;
color: darkslategrey;

}

a:visited {

text-decoration: none;

}

ul {

list-style: none;

}
