
nav {
  background-color: #3e4a61;
}

.nav-bar-ul-account{
  text-align: right;
}

.nav-bar-account-a{
  color: #d9dad7;
}

.nav-bar-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar-li{
  float: left;
}

.nav-bar-a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar-a:hover{
  background-color: #1a2639;
}

body {
  font-family: sans-serif;
  color: #1a2639;
  background-color: #d9dad7;

}

h1 {
  text-align: center;
}

a {
  font-family: sans-serif;
  color: #c24d2c;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;
}

.center {
  text-align: center;
}

table, th, td {
  border: 2px solid;
  color: #3e4a61;
}

td {
  text-align: center;
}

tr:hover {
  background-color: #d3d3d3;
}

.single_request_table_head{
  font-family: sans-serif;
  color: #c24d2c
}

.messages{
  color: #1a2639;
  text-align: center;
}

.wrap_search{
  margin:left;
  max-width:300px;
}

form.search_form input{
  padding: 6px;
  font-size: 15px;
  border: 2px solid #1a2639;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search_form button{
  float: left;
  width: 10%;
  padding: 7px;
  background: #1a2639;
  color: white;
  font-size: 13px;
  border: 3px solid #1a2639;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search_form::after {
  content: "";
  clear: both;
  display: table;
}