{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav>
    <div>
        <ul class="nav-bar-ul-account">
            <li>
                <a class="nav-bar-account-a"
                   href="">{{ user.username|upper }}</a>

            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="nav-bar-account-a"
                   href="/logout">Logout</a>
            </li>
            {% else %}
            <li>
                <a class="nav-bar-account-a"
                   href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
        <ul class="nav-bar-ul">
            <li class="nav-bar-li">
                <a class="nav-bar-a"
                   href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-bar-li">
                {% if perms.website.view_items %}
                    <a class="nav-bar-a"
                       href="/items">Items</a>
                {% endif %}
            </li>
            <li class="nav-bar-li">
                {% if perms.website.view_requests %}
                    <a class="nav-bar-a"
                        href="{% url 'requests' %}">Requests</a>
                {% endif %}
            </li>
            <li class="nav-bar-li">
                {% if perms.website.view_requestrow %}
                    <a class="nav-bar-a"
                        href="{% url 'request_row' %}">Request Rows</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

{% if messages %}
<div id="msg">
    <ul class="messages">
        {% for message in messages %}
        <li
                {% if message.tags %}
                class="{{ message.tags }}"
                {% endif %}> {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<script>
    var message_ele = document.getElementById("msg");

    setTimeout(function(){
    message_ele.style.display = "none";
    }, 3000);
</script>

{% block content %}

{% endblock%}

</body>
</html>